body {
    background-attachment: fixed;
    background-image: linear-gradient(
            transparent 50%,
            rgba(3,44,62,1) 70%
        ),
        radial-gradient(
            circle,
            rgba(31,223,239,1) 0%,
            rgba(18,187,203,1) 42%,
            rgba(13,170,185,1) 100%
        );
    margin: 0;
    overscroll-behavior: none;
}

* {
    overscroll-behavior: none;
}

#root {
    min-height: 100vh;
}

.new-spell-new-label::after {
    color: rgb(0,255,127);
    content: 'new!';
    display: inline-block;
    font-size: .6rem;
    text-shadow: 0 0 2px rgb(255,255,255);
    transform: rotate(-30deg) translate(5%, -100%);
}

.new-spell-highlighter {
    background-color: rgba(255,255,0,.2);
}

@font-face {
    font-family: 'Aguafina';
    src: url('../assets/f/AguafinaScript-Regular.ttf');
}

@font-face {
    font-family: 'Anglican';
    src: url('../assets/f/AnglicanText.ttf');
}

@font-face {
    font-family: 'Shattered';
    src: url('../assets/f/broken-glass.regular.ttf');
}

@font-face {
    font-family: '712 Serif';
    src: url('../assets/f/712-serif.woff');
}

@font-face {
    font-family:'Acme';
    src: url('../assets/f/Acme-Regular.ttf');
}

@font-face {
    font-family: 'Actionis';
    src: url('../assets/f/actionis.ttf');
}

@font-face {
    font-family: 'Adler';
    src: url('../assets/f/Adler.ttf');
}

@font-face {
    font-family: 'School';
    src: url('../assets/f/backtoschool.regular.ttf');
}

@font-face {
    font-family: 'Campfire';
    src: url('../assets/f/Campfire.ttf');
}

@font-face {
    font-family: 'Cheveux';
    src: url('../assets/f/Cheveuxdange.ttf');
}

@font-face {
    font-family: 'Clip';
    src: url('../assets/f/Clip.ttf');
}

@font-face {
    font-family: 'Cookie';
    src: url('../assets/f/cookie.regular.ttf');
}

@font-face {
    font-family: 'D-DIN Condensed Bold';
    src: url('../assets/f/D-DINCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Emilio';
    src: url('../assets/f/emilio-20.ttf');
}

@font-face {
    font-family: 'Facon';
    src: url('../assets/f/Facon.ttf');
}

@font-face {
    font-family: 'Hemi';
    src: url('../assets/f/hemi-head-bd-it.ttf');
}

@font-face {
    font-family: 'Kamikaze';
    src: url('../assets/f/Kamikaze.ttf');
}

@font-face {
    font-family: 'Mexcellent';
    src: url('../assets/f/mexcellent.3d.otf');
}

@font-face {
    font-family: 'Njnaruto';
    src: url('../assets/f/njnaruto.ttf');
}

@font-face {
    font-family: 'Norwester';
    src: url('../assets/f/norwester.otf');
}

@font-face {
    font-family: 'Ostrich';
    src: url('../assets/f/ostrich-sans.sans-bold.ttf');
}

@font-face {
    font-family: 'Painty';
    src: url('../assets/f/paintypaint.1.ttf');
}

@font-face {
    font-family: 'Pecita';
    src: url('../assets/f/Pecita.otf');
}

@font-face {
    font-family: 'Pirulen';
    src: url('../assets/f/pirulen-rg.otf');
}

@font-face {
    font-family: 'Japan';
    src: url('../assets/f/pray-for-japan.regular.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/f/roboto.regular.ttf');
}

@font-face {
    font-family: 'Water';
    src: url('../assets/f/world-of-water.regular.ttf');
}

@font-face {
    font-family: 'Beon';
    src: url('../assets/f/beon-webfont.woff');
}

@font-face {
    font-family: 'Edo';
    src: url('../assets/f/edo.regular.ttf');
}

@font-face {
    font-family: 'Advent';
    src: url('../assets/f/advent.ttf');
}

@font-face {
    font-family: 'Amatic';
    src: url('../assets/f/amatic.ttf');
}

@font-face {
    font-family: 'Architex';
    src: url('../assets/f/architex.ttf');
}

@font-face {
    font-family: 'Arcon';
    src: url('../assets/f/arcon.otf');
}

@font-face {
    font-family: 'attic';
    src: url('../assets/f/attic.ttf');
}

@font-face {
    font-family: 'Barbaro';
    src: url('../assets/f/barbaro.ttf');
}

@font-face {
    font-family: 'Barlow';
    src: url('../assets/f/barlow.ttf');
}

@font-face {
    font-family: 'Blackops';
    src: url('../assets/f/blackops.ttf');
}

@font-face {
    font-family: 'Berkshire';
    src: url('../assets/f/berkshire.ttf');
}

@font-face {
    font-family: 'Wonderland';
    src: url('../assets/f/wonderland.ttf');
}

@font-face {
    font-family: 'Bonbon';
    src: url('../assets/f/bonbon.ttf');
}

@font-face {
    font-family: 'Burnstown';
    src: url('../assets/f/burnstown.ttf');
}

@font-face {
    font-family: 'Cabin';
    src: url('../assets/f/cabin.ttf');
}

@font-face {
    font-family: 'Conformity';
    src: url('../assets/f/conformity.ttf');
}

@font-face {
    font-family: 'DaggerSquare';
    src: url('../assets/f/daggersquare.otf');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../assets/f/dancing_script.ttf');
}

@font-face {
    font-family: 'Decorative';
    src: url('../assets/f/decorative.ttf');
}

@font-face {
    font-family: 'Dosis';
    src: url('../assets/f/dosis.ttf');
}

@font-face {
    font-family: 'Chocolade';
    src: url('../assets/f/chocolade.ttf');
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('../assets/f/ethnocentric.ttf');
}

@font-face {
    font-family: 'Fonarto';
    src: url('../assets/f/fonarto.ttf');
}

@font-face {
    font-family: 'Gunplay';
    src: url('../assets/f/gunplay.ttf');
}

@font-face {
    font-family: 'Kingthings Christmas';
    src: url('../assets/f/kingthings_christmas.ttf');
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url('../assets/f/luckiest_guy.ttf');
}

@font-face {
    font-family: 'Magnolia';
    src: url('../assets/f/magnolia.otf');
}

@font-face {
    font-family: 'Nasalization';
    src: url('../assets/f/nasalization.otf');
}

@font-face {
    font-family: 'Oregano';
    src: url('../assets/f/oregano.ttf');
}

@font-face {
    font-family: 'Polya';
    src: url('../assets/f/polya.otf');
}

@font-face {
    font-family: 'Pricedown';
    src: url('../assets/f/pricedown.otf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../assets/f/righteous.ttf');
}

@font-face {
    font-family: 'Satisfy';
    src: url('../assets/f/satisfy.ttf');
}

@font-face {
    font-family: 'Sho Card Caps';
    src: url('../assets/f/sho_card_caps.ttf');
}

@font-face {
    font-family: 'Teen';
    src: url('../assets/f/teen.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/f/orbitron.ttf');
}
