body {
    background-attachment: fixed;
    background-image: linear-gradient(
            transparent 50%,
            rgba(3,44,62,1) 70%
        ),
        radial-gradient(
            circle,
            rgba(31,223,239,1) 0%,
            rgba(18,187,203,1) 42%,
            rgba(13,170,185,1) 100%
        );
    margin: 0;
    overscroll-behavior: none;
}

* {
    box-sizing: border-box;
    overscroll-behavior: none;
}

#root {
    min-height: 100vh;
}

.new-spell-new-label::after {
    color: rgb(0,255,127);
    content: 'new!';
    display: inline-block;
    font-size: .6rem;
    text-shadow: 0 0 2px rgb(255,255,255);
    transform: rotate(-30deg) translate(5%, -100%);
}

.new-spell-highlighter {
    background-color: rgba(255,255,0,.2);
}

@font-face {
    font-family: 'Aguafina';
    src: url('../assets/f/AguafinaScript-Regular.ttf');
}

@font-face {
    font-family: 'Anglican';
    src: url('../assets/f/AnglicanText.ttf');
}

@font-face {
    font-family: 'Shattered';
    src: url('../assets/f/broken-glass.regular.ttf');
}

@font-face {
    font-family: '712 Serif';
    src: url('../assets/f/712-serif.woff');
}

@font-face {
    font-family:'Acme';
    src: url('../assets/f/Acme-Regular.ttf');
}

@font-face {
    font-family: 'Actionis';
    src: url('../assets/f/actionis.ttf');
}

@font-face {
    font-family: 'Adler';
    src: url('../assets/f/Adler.ttf');
}

@font-face {
    font-family: 'School';
    src: url('../assets/f/backtoschool.regular.ttf');
}

@font-face {
    font-family: 'Campfire';
    src: url('../assets/f/Campfire.ttf');
}

@font-face {
    font-family: 'Cheveux';
    src: url('../assets/f/Cheveuxdange.ttf');
}

@font-face {
    font-family: 'Clip';
    src: url('../assets/f/Clip.ttf');
}

@font-face {
    font-family: 'Cookie';
    src: url('../assets/f/cookie.regular.ttf');
}

@font-face {
    font-family: 'D-DIN Condensed Bold';
    src: url('../assets/f/D-DINCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Emilio';
    src: url('../assets/f/emilio-20.ttf');
}

@font-face {
    font-family: 'Facon';
    src: url('../assets/f/Facon.ttf');
}

@font-face {
    font-family: 'Hemi';
    src: url('../assets/f/hemi-head-bd-it.ttf');
}

@font-face {
    font-family: 'Kamikaze';
    src: url('../assets/f/Kamikaze.ttf');
}

@font-face {
    font-family: 'Mexcellent';
    src: url('../assets/f/mexcellent.3d.otf');
}

@font-face {
    font-family: 'Njnaruto';
    src: url('../assets/f/njnaruto.ttf');
}

@font-face {
    font-family: 'Norwester';
    src: url('../assets/f/norwester.otf');
}

@font-face {
    font-family: 'Ostrich';
    src: url('../assets/f/ostrich-sans.sans-bold.ttf');
}

@font-face {
    font-family: 'Painty';
    src: url('../assets/f/paintypaint.1.ttf');
}

@font-face {
    font-family: 'Pecita';
    src: url('../assets/f/Pecita.otf');
}

@font-face {
    font-family: 'Pirulen';
    src: url('../assets/f/pirulen-rg.otf');
}

@font-face {
    font-family: 'Japan';
    src: url('../assets/f/pray-for-japan.regular.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/f/roboto.regular.ttf');
}

@font-face {
    font-family: 'Water';
    src: url('../assets/f/world-of-water.regular.ttf');
}

@font-face {
    font-family: 'Beon';
    src: url('../assets/f/beon-webfont.woff');
}

@font-face {
    font-family: 'Edo';
    src: url('../assets/f/edo.regular.ttf');
}
