/*
    Styles pulled from https://www.tofu-bot.com/css/style.css
    The rest of the stuff in that file breaks the styles on the page
*/

body {
    background: radial-gradient(circle, rgba(31,223,239,1) 0%, 
        rgba(18,187,203,1) 42%, 
        rgba(13,170,185,1) 100%);
}

.bg-canvas {
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    /* z-index removed for proper display */
}
